---
Checks: *,
  -abseil-*,
  -android-*,
  -cppcoreguidelines-avoid-c-arrays,  #because we need to match WSTP and LibraryLink API types
  -fuchsia-*,
  -google-runtime-references,
  -google-runtime-int, # because in many places we need to match WSTP and LibraryLink API types exactly
  -hicpp-avoid-c-arrays,
  -linuxkernel-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -readability-redundant-access-specifiers,
  -zircon-*,
WarningsAsErrors: false
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            rafal
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
    value:           '1.0;100.0;'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value:           '1;2;3;4;'
  - key:             cppcoreguidelines-macro-usage.AllowedRegexp
    value:           '^DEBUG_*'
  - key:             cppcoreguidelines-macro-usage.CheckCapsOnly
    value:           '1'
  - key:             cppcoreguidelines-macro-usage.IgnoreCommandLineMacros
    value:           '1'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           '1'
...
