# IDEs metadata
.project
.cproject
.settings/
.vscode/
.vs/
CMakeSettings.json
.idea/

# Documentation intermediate files
docs/xml
docs/LibraryLinkUtilities

# Other
Debug/
lib/
build*/
cmake-build*/
tests/Demo/build*/
install/